# Trabajo Práctico 1

## Cavallero, Guarino y Guerrieri

1) La tasa de desocupación se mide haciendo el cociente entre la cantidad de personas desocupadas sobre la población economicamente activa. Esto significa que solamente estamos contabiliznado las personas sin ocupación que buscan trabajo activamente y están disponibles para trabajar.

In [106]:
!pip install pandas pyreadstat openpyxl
import pandas as pd
import pyreadstat  # Para leer archivos .dta
# Cargar el .dta de 2004
df_2004, meta_2004 = pyreadstat.read_dta("/Users/zowi/Desktop/Big Data/GitHub/BigData/t104_dta/usu_individual_t104.dta")

# Cargar el .xls de 2024
df_2024 = pd.read_excel("/Users/zowi/Desktop/Big Data/GitHub/BigData/EPH_usu_1er_Trim_2024_xlsx/usu_individual_T124.xlsx")
df_2004.head(), df_2024.head()

print(df_2004.columns)  # Nombres de columnas en la base 2004
print(df_2024.columns)  # Nombres de columnas en la base 2024

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: pyreadstat in /opt/anaconda3/lib/python3.12/site-packages (1.2.8)
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Index(['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre',
       'region', 'mas_500', 'aglomerado', 'pondera',
       ...
       'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr',
       'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'],
      dtype='object', length=176)
Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15',
       'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA',
       ...
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'PONDIH'],
      dtype='object', length=177)

In [108]:
print('Columns:', df_2004.columns)
print('Rows:', df_2004.index)
print('\nTypes:\n', df_2004.dtypes) # muestra el tipo de dato de cada columna
print('\nShape:', df_2004.shape) # muestra cuántas filas y columnas tiene la tabla
print('\nInfo:\n', df_2004.info)

print('Columns:', df_2004.columns)
print('Rows:', df_2004.index)
print('\nTypes:\n', df_2024.dtypes) # muestra el tipo de dato de cada columna
print('\nShape:', df_2024.shape) # muestra cuántas filas y columnas tiene la tabla
print('\nInfo:\n', df_2024.info)

Columns: Index(['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre',
       'region', 'mas_500', 'aglomerado', 'pondera',
       ...
       'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr',
       'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'],
      dtype='object', length=176)
Rows: RangeIndex(start=0, stop=45289, step=1)

Types:
 CODUSU         object
nro_hogar     float64
componente    float64
h15           float64
ano4          float64
               ...
adeccfr        object
pj1_1         float64
pj2_1         float64
pj3_1         float64
idimpp         object
Length: 176, dtype: object

Shape: (45289, 176)

Info:
 <bound method DataFrame.info of        CODUSU  nro_hogar  componente  h15    ano4  trimestre  region mas_500  \
0      125098        1.0         1.0  1.0  2004.0        1.0     1.0       S
1      125397        1.0         1.0  1.0  2004.0        1.0     1.0       S
2      125515        1.0         1.0  1.0  2004.0        1.0     1.0       S
3      125558        1.0         1.0  1.0  2004.0        1.0     1.0       S
4      125558        1.0         2.0  1.0  2004.0        1.0     1.0       S
...       ...        ...         ...  ...     ...        ...     ...     ...
45284  285733        1.0         1.0  1.0  2004.0        1.0    44.0       N
45285  285733        1.0         2.0  1.0  2004.0        1.0    44.0       N
45286  285733        1.0         3.0  1.0  2004.0        1.0    44.0       N
45287  285733        1.0         4.0  0.0  2004.0        1.0    44.0       N
45288  285733        1.0         5.0  0.0  2004.0        1.0    44.0       N

       aglomerado  pondera  ...  deccfr  ideccfr  rdeccfr  gdeccfr  pdeccfr  \
0            32.0   1299.0  ...      07                06       06
1            32.0   2018.0  ...      00                00       00
2            32.0   1486.0  ...      07                07       07
3            32.0   1674.0  ...      08                08       08
4            32.0   1674.0  ...      08                08       08
...           ...      ...  ...     ...      ...      ...      ...      ...
45284        31.0    123.0  ...      09       09       08                09
45285        31.0    123.0  ...      09       09       08                09
45286        31.0    123.0  ...      09       09       08                09
45287        31.0    123.0  ...      09       09       08                09
45288        31.0    123.0  ...      09       09       08                09

       adeccfr  pj1_1  pj2_1  pj3_1  idimpp
0           04    0.0    0.0    0.0   00000
1           00    0.0    0.0    0.0   00000
2           05    0.0    0.0    0.0   00020
3           06    0.0    0.0    0.0   00000
4           06    0.0    0.0    0.0   00000
...        ...    ...    ...    ...     ...
45284       07    0.0    0.0    0.0   00000
45285       07    0.0    0.0    0.0   00000
45286       07    0.0    0.0    0.0   00000
45287       07    0.0    0.0    0.0   00000
45288       07    0.0    0.0    0.0   00000

[45289 rows x 176 columns]>
Columns: Index(['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre',
       'region', 'mas_500', 'aglomerado', 'pondera',
       ...
       'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr',
       'pj1_1', 'pj2_1', 'pj3_1', 'idimpp'],
      dtype='object', length=176)
Rows: RangeIndex(start=0, stop=45289, step=1)

Types:
 CODUSU         object
ANO4            int64
TRIMESTRE       int64
NRO_HOGAR       int64
COMPONENTE      int64
               ...
RDECCFR         int64
GDECCFR       float64
PDECCFR       float64
ADECCFR         int64
PONDIH          int64
Length: 177, dtype: object

Shape: (46050, 177)

Info:
 <bound method DataFrame.info of                               CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
0      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           3
1      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           4
2      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           5
3      TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           1
4      TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           2
...                              ...   ...        ...        ...         ...
46045  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           1
46046  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           2
46047  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           3
46048  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           4
46049  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           5

       H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR  \
0        1      42       S          10      439  ...      NaN       12
1        1      42       S          10      439  ...      NaN       12
2        0      42       S          10      439  ...      NaN       12
3        1      42       S          10      675  ...      NaN        8
4        1      42       S          10      675  ...      NaN        8
...    ...     ...     ...         ...      ...  ...      ...      ...
46045    1       1       S          33     3410  ...      NaN       12
46046    2       1       S          33     3410  ...      NaN       12
46047    2       1       S          33     3410  ...      NaN       12
46048    2       1       S          33     3410  ...      NaN       12
46049    2       1       S          33     3410  ...      NaN       12

           IPCF  DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
0           0.0      12     12.0       12     12.0      NaN       12       0
1           0.0      12     12.0       12     12.0      NaN       12       0
2           0.0      12     12.0       12     12.0      NaN       12       0
3      212500.0       6      6.0        6      6.0      NaN        6    1610
4      212500.0       6      6.0        6      6.0      NaN        6    1610
...         ...     ...      ...      ...      ...      ...      ...     ...
46045       0.0      12      NaN       12     12.0      NaN       12       0
46046       0.0      12      NaN       12     12.0      NaN       12       0
46047       0.0      12      NaN       12     12.0      NaN       12       0
46048       0.0      12      NaN       12     12.0      NaN       12       0
46049       0.0      12      NaN       12     12.0      NaN       12       0

[46050 rows x 177 columns]>

In [83]:
provincias_seleccionadas = ["NOA"]
df_filtrado = df_2004[df_2004["region"].isin(provincias_seleccionadas)]
df_2004 = df_2004[df_2004["region"].isin(provincias_seleccionadas)]

In [85]:
print(df_2004.shape)  # Muestra la cantidad de filas y columnas

(0, 176)

In [110]:
filtro = [18, 19, 23]
df_2024_filtrado = df_2024[df_2024["AGLOMERADO"].isin(filtro)]
print(df_2024_filtrado.head())
df_2024_filtrado.to_csv("filtrado.csv", index=False)

                           CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
20  TQRMNOPUYHMOKPCDEGOIH00800329  2024          1          1           1
21  TQRMNOPUYHMOKPCDEGOIH00800329  2024          1          1           2
22  TQRMNOPUYHMOKPCDEGOIH00800329  2024          1          1           3
23  TQRMNOPUYHMOKPCDEGOIH00800329  2024          1          1           4
24  TQRMNOTSQHJKLMCDEGOIH00795856  2024          1          1           1

    H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR      IPCF  \
20    1      40       N          18      371  ...      8.0       10  187500.0
21    1      40       N          18      371  ...      8.0       10  187500.0
22    1      40       N          18      371  ...      8.0       10  187500.0
23    1      40       N          18      371  ...      8.0       10  187500.0
24    1      40       N          18      716  ...      2.0        2  110000.0

    DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
20       5      5.0        7      NaN      6.0        8     367
21       5      5.0        7      NaN      6.0        8     367
22       5      5.0        7      NaN      6.0        8     367
23       5      5.0        7      NaN      6.0        8     367
24       3      3.0        4      NaN      3.0        5     706

[5 rows x 177 columns]

In [112]:
filtro = ["Jujuy - Palpalá", "S.del Estero - La Banda", "Salta"]
df_2004_filtrado = df_2004[df_2004["aglomerado"].isin(filtro)]
print(df_2004_filtrado.head())
df_2004_filtrado.to_stata("filtrado.dta", write_index=False)

Empty DataFrame
Columns: [CODUSU, nro_hogar, componente, h15, ano4, trimestre, region, mas_500, aglomerado, pondera, ch03, ch04, ch06, ch07, ch08, ch09, ch10, ch11, ch12, ch13, ch14, ch15, ch15_cod, ch16, ch16_cod, nivel_ed, estado, cat_ocup, cat_inac, pp02c1, pp02c2, pp02c3, pp02c4, pp02c5, pp02c6, pp02c7, pp02c8, pp02e, pp02h, pp02i, pp03c, pp03d, pp3e_tot, pp3f_tot, pp03g, pp03h, pp03i, pp03j, intensi, pp04a, pp04b_cod, pp04b1, pp04b2, pp04b3_mes, pp04b3_ano, pp04b3_dia, pp04c, pp04c99, pp04d_cod, pp04g, pp05b2_mes, pp05b2_ano, pp05b2_dia, pp05c_1, pp05c_2, pp05c_3, pp05e, pp05f, pp05h, pp06a, pp06c, pp06d, pp06e, pp06h, pp07a, pp07c, pp07d, pp07e, pp07f1, pp07f2, pp07f3, pp07f4, pp07f5, pp07g1, pp07g2, pp07g3, pp07g4, pp07g_59, pp07h, pp07i, pp07j, pp07k, pp08d1, pp08d4, pp08f1, pp08f2, pp08j1, pp08j2, pp08j3, pp09a, ...]
Index: []

[0 rows x 176 columns]